<div ng-controller='anCtrl' ng-enter='flipInX' ng-leave='flipOutX'>
           <p style="text-align:center; color:#555" >
       <img src="http://www.soluntech.com/_/rsrc/1412805517236/config/customLogo.gif" alt="">
       <br />
       <br />
       Actualmente en Soluntech estamos desarrollando este proyecto. 
       <br />
<br />
<br />
       <a ui-sref='anState' style="color:rgb(39, 166, 244)">Contacte a Soluntech.</a>
       </p>

       <br>
       <br>
       <div ng-google-login></div>
</div>