<section class="wrapper well" style="color:gray">
<article>
   <h1 style="color:gray"> Free trial </h1>
   <p>
   	  You are in free trial now. 
   </p>
   <br>
     <button class="btn btn-info">Manage credit cards</button>
</article>

   <br>
   <br>
   <table class="table">
   <caption style="color:gray"><b>Payments.</b></caption>
      <thead>
      	<tr>
      	 <th>Date</th>
      	 <th>Details</th>
      	 <th>Amount</th>
      	 <th>Status</th>
      	</tr>
      </thead>
      <tbody>
      	 <tr>
      	 	<td>01/05/2015 12:48</td>
      	 	<td>Go Input Trial</td>
      	 	<td>$0</td>
      	 	<td>Paid</td>      	 	
      	 </tr>
      </tbody>
   </table>  

   </section>