<div class="wrapper" ng-init="loadOne()">
<div class="row">
  <h3 class="col-md-6 col-sm-6 col-xs-8">{{form.format.name}}</h3>
   <div class="col-md-6 col-sm-6 col-xs-4" style="margin-top: 18px;">
     <a href="#/form/{{form.format.key}}" class="btn btn-default" style="float:right;">{{ lang.newEntry }} <i class="fa fa-plus"></i></a>
   </div>

</div>
<!-- <br>
<br> -->
   <div ng-search-box style="padding: 15px 0;"></div>


<!-- <br>
<br> -->

<div class="row">
<div class="col-lg-12">
<div class="table-responsive">
<table class="rwd-table table-hover">
   <thead>
         <tr>
               <th ng-repeat='field in form.format.fields | filter:"!Admin" ' ng-if='!field.name.toLowerCase().match("hidden")'>
                  {{field.name}}
               </th>
         </tr>
   </thead>

   <tbody>
         <tr ng-click="edit()" ng-repeat="record in form.records | filter:searcher" ng-if="Compare() && form.records.length > 0">

               <td data-th='{{field.name}}' ng-if='!field.name.toLowerCase().match("hidden")' ng-repeat='field in mapFields() track by $index' ng-bind-html-unsafe="'field">
                 {{field.value}}
               </td>
         </tr>

         <tr ng-if="form.records.length == 0">
            <td colspan=''>{{lang.noData}}</td>
         </tr>
   </tbody>
</table>
</div>
</div>
</div>
</div>

 
